<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title><%=title %></title>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<!--<link rel="stylesheet" href="/node_modules/weui/dist/style/weui.min.css"/>-->
		<link rel="stylesheet" href="/bower_components/weui/dist/style/weui.min.css"/>
		<!--<link rel="stylesheet" href="/bower_components/weui/dist/example/example.css"/>-->
		<link rel="stylesheet" href="/css/common.css">
	</head>
	<body ontouchstart>
	
	<div class="clearfix page-nav">
	    <% if(user){ %>
		<div class="pull-left nav-username">欢迎 <%= user.username %></div>
		<div class="pull-right"><a href="/post">发表</a></div>
		<div class="pull-left nav-quit"><a href="/quit">退出</a></div>
		
	    <% }else{ %>
		<div class="pull-right nav-register"><a href="/register">注册</a></div>
		<div calss="pull-right nav-login"><a href="/login">登录</a></div>
		
	    <% } %>
	</div>
