<%- include header %><!--嵌入header文件-->
	<div class="text-center page-title">New User Register</div>
	<% if(error){ %>
	<div class="alert alert-warning"><%= error %></div>
	<% } %>
	<form method="post">
	    <div class="form-group">
	        <div class="page">
		    <div class="page__bd">
			<div class="weui-cells weui-cells_form">
			    <div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">Username</label></div>
				<div class="weui-cell__bd">
				    <input type="text" class="weui-input" name="username" placeholder="Username"/>
				</div>
			    </div>
			    <div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">Password</label></div>
				<div class="weui-cell__bd">
				    <input type="password" class="weui-input" name="password" placeholder="Password"/>
				</div>
			    </div>
			    <div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">Password Again</label></div>
				<div class="weui-cell__bd">
				    <input type="password" class="weui-input" name="passwordRepeat" placeholder="Password Again"/>
				</div>
			    </div>
			</div>
			<div class="btn-sp-area">
			    <button type="submit" class="weui-btn weui-btn_primary">Register</button>
			</div>
		    </div>
	        </div>
	    </div>
	</form>

<%- include footer %><!--嵌入footer文件-->
